header .row {
    justify-content: space-between;
    align-items: center;
  }  
  
  header .brand h3 {
    background-color: gray;  
  }
  
  body.dark-mode header .brand h3 {
   --alternating-colors: var(--light-color);
  }
  
  header .day-night {
    display: flex;
    flex-direction: column;
    align-items: center;
  }