/* Universal */

    /* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Set variable colors */
:root {
    --dark-color: rgb(50, 50, 50);
    --light-color: rgb(229, 229, 229);
    --green-day: rgb(0, 150, 0);
    --green-night: rgb(0, 255, 0);
    --alternating-colors: var(--dark-color);
}

.container {
    margin-bottom: 20px;
}
    
    /* Dark mode styling */

body.dark-mode {
    background-color: var(--dark-color);
    color: var(--light-color);    
}

/* Universal Header Section */

header .row {
    justify-content: space-between;
    align-items: center;
  }  
  
  header .brand h3 {
    background-color: gray; 
    padding: 10px; 
  }
  
  header .day-night {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header button {
    padding: 5px;
  }

/* Universal Footer Section */


/* Homepage styling */

.homepage-container {
    margin: 2%;
    border: solid;
}

main {
    border-top: 15px double;
}

main .col1 {
    border-right: 10px double;
}

.left-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: black;
    width: 400px;
    height: 400px;
    margin: 20px 0;
    border-radius: 500px;
}







